# 游늵 Exploraci칩n Inicial de Medallas Ol칤mpicas
Este notebook tiene como objetivo explorar de forma preliminar el dataset `medallas_historicas.csv`, analizando su estructura, valores faltantes, estad칤sticas generales y primeras tendencias.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 5)

# Cargar el dataset
df = pd.read_csv("../data/medallas_historicas.csv")

## Vista general del dataset

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe(include='all')

## Verificaci칩n de valores nulos

In [ ]:
df.isnull().sum()

## Pa칤ses y a침os 칰nicos

In [ ]:
print("Pa칤ses 칰nicos:", df["Pa칤s"].nunique())
print("A침os 칰nicos:", df["A침o"].nunique())
print("Rango de a침os:", df["A침o"].min(), "-", df["A침o"].max())

## Total de medallas por edici칩n

In [ ]:
df["Total"] = df["Oro"] + df["Plata"] + df["Bronce"]

df.groupby("A침o")["Total"].sum().plot(kind="bar", title="Total de medallas entregadas por edici칩n")
plt.ylabel("Cantidad de medallas")
plt.xlabel("A침o")
plt.tight_layout()
plt.show()

## Top 15 pa칤ses con m치s medallas en total

In [ ]:
ranking_total = df.groupby("Pa칤s")["Total"].sum().sort_values(ascending=False).head(15)

ranking_total.plot(kind="barh", title="Top 15 pa칤ses con m치s medallas")
plt.xlabel("Total de medallas")
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

## Conclusiones exploratorias
- El dataset contiene informaci칩n de m칰ltiples ediciones de los Juegos Ol칤mpicos.
- Se analizaron los valores nulos, la distribuci칩n de pa칤ses y a침os.
- Se identificaron los pa칤ses con mayor cantidad de medallas en la historia ol칤mpica.